.App {
  height: 100vh;
  background-color: #3d8ecf;
  font-family: 'Zilla Slab', serif;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 25vh;
  color: white;
  letter-spacing: -2px;
  font-size: 3em;
}

.content {
  display: flex;
  flex-direction: row;
}

.section {
  height: 75vh;
  width: 33vw;
  background-color: white;
  border: 3px solid #3d8ecf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userHeading {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0;
}

.userImg {
  height: 60px;
  width: 60px;
  margin-right: 25px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.userInfo * {
  margin: 0;
}

.item {
  height: 200px;
  width: auto;
  margin: 25px 0;
}

.purchaseBtn {
  height: 40px;
  width: 50%;
  background-color: #3d8ecf;
  color: white;
  font-weight: bold;
  border: 2px solid #3d8ecf;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Zilla Slab', serif;
  font-size: 1.4em;
}
